body {
    background-color: rgb(223, 228, 231);
}

.container {
    margin-top: 30px;
}

.bg-color {
    background-color: white;
    padding: 35px;
}

.bg-color2 {
    background-color: gray;
}

.bg-color3 {
    background-color: white;
}
